@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  color-scheme: dark light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
*, :after, :before {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: border-box;
}
::selection {
    background: rgb(var(--rgbAccent));
    color: rgb(var(--rgbBlack));
}


.Navbar_navList__mg4Oa {
  transform: rotate(-90deg) translate3d(-50%,0,0);
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  top: calc(var(--spaceM) * -1);
}



